<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">글 번호</th>
        <th scope="col">글제목</th>
        <th scope="col">글쓴이</th>
        <th scope="col">작성일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.boardId}" id="boardId"></td>
        <td><a th:href="@{|/board/${board.boardId}|}" th:text="${board.boardTitle}">제목</a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardDate}"></td>
        <td><button th:if="(${#strings.equals(session['loginEmail'],'admin')}) or (${session.loginEmail}==${board.boardWriter})" th:onclick="deleteById([[${board.boardId}]])">삭제</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>