<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>

    <script>
        function logout(){
            location.href="logout";
        }
    </script>
</head>
<body>
<h2>index.html</h2>

<a href = "/member/save">회원가입</a><br>
<!--    <a href = "/member/findAll/">회원목록</a><br>-->
<a href = "/member/login/">로그인</a><br>
<a href="/board/save/">글쓰기</a><br>
<a href="/board">글목록</a><br><br><br>
<a href="/member/logout">로그아웃</a><br><br><br>
로그인ID(email_session): <p th:text="${session['loginEmail']}"></p>

<div th:if="${session.loginEmail == 'admin'}">
    <a href="/member/admin">관리자</a>
</div>

<!--    <th:if test="${sessionScope.loginId eq 'admin'}">-->
<!--        <a href="member/admin">관리자페이지</a><br>-->
<!--    </th:if>-->

<a href = "/">홈으로</a><br>

</body>
</html>